* {
  font-weight: 100;

}
html {
  min-height: 100%;
  position: relative;

}


body {
  background: #red;
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  background-size: cover;

}

.grid-container {
  min-height: 100vh;
  display: grid;
  background: #444;
  grid-template-areas:
  "header header header"
  "left main right"
  "left main right"
  "left main right"
  "left main right"
  "footer footer footer";
  grid-template-rows: 100px repeat(4, 1fr) ;
  grid-template-columns: repeat(auto-fit, 1fr);





}



.grid-item {
  padding: 20px;



  }

.grid-footer {
  background-color: #1A1A1B;
  grid-area: footer;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;

}

.grid-header {
  background-color: #1A1A1B;
  grid-area: header;


}

.grid-main {
  background-color: #030303;
  grid-area: main;
  box-sizing: border-box;




}

.grid-aside  {
  background-color: #030303;
  grid-area: left
}

.grid-derecha {
  background-color: #030303;
  grid-area: right
}

.grid-header__li {
  display: inline-block;
  padding: 15px;
  color: #fff;

}

.grid-header__li a {
  color: #fff;
  text-decoration: none;
}

.main_a {
  color: #ccc;
}


.grid-header__li:hover > a {
  color: #ccc;
}



.main-content__caja1 {
  background-color: #1A1A1B;
  display:block;
  box-sizing: border-box;
  height: auto;
  width: 590px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #fff;
  border: 0.5px solid grey;


}

.caja1 title {
  color: #fff;
}

.derecha__perfil-post a  {
  background-color: #1A1A1B;
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 100;
  width: 310px;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  font-size: 25px;
  color: #fff;
  text-align: center;

}

.derecha__perfil-post:hover > a {
  border: 0.5px solid grey;
}



.derecha__caja {
  background-color: #1A1A1B;
  display: block;
  margin-top: 15px;
  box-sizing: border-box;
  border-bottom: 0.5px solid grey;
  margin: auto;
  height: auto;
  width: 310px;
  color: #fff;
  border: 0.5px solid grey;


}

.space-box {
  background-color:  ##1A1A1B;
  display:block;
  box-sizing: border-box;
  height: 120px;
  width: 590px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 15px;


}

.main-content__caja1-h2 {
  padding: 20px;
}

.main-content__caja1-h2 a {
  color: #fff;
  text-decoration: none;

}

.derecha__caja li h3 {

  font-size: 30px;
  padding: 5px;
  margin: 10px;


}

.derecha__caja li {

    list-style: none;
    border: 0.5px solid grey;
}

.derecha__caja li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  padding: 5px;
  margin: 10px;
}

.derecha__caja-hr {
  color: red;
}

.derecha__caja-li:hover > a {
  color: #ccc;
}
